{% extends "base.html.twig" %}

{% block body %}


    <div class="notes" data-board-id="{{ board.id }}">

        <div class="notes">
            <div class="title-new-note">
                <a href="/boards" class="title-note-text">К списку досок</a>
            </div>
        </div>

        <div class="new-note">
            <div class="title-new-note">
                <span class="title-note-text">Новый список</span>
            </div>
        </div>


        {% for taskList in board.taskLists %}

            <div class="note" data-task-list-id="{{ taskList.id }}">
                <button class="button button-task-new js-task-create">+</button>
                <button class="button button-task-del js-note-remove">🞫</button>
                <div class="title-note">
                    <span class="title-note-text"
                          data-task-list-title="{{ taskList.title }}">
                        {{ taskList.title }}</span>
                    <button class="button button-edit js-task-list-edit">✎</button>
                </div>
                <ol class="tasks">
                    {% for task in taskList.tasks %}
                        <li class="tasks__task {{ task.isDone ? 'done' : '' }}" data-task-id="{{ task.id }}">
                            <button class="button button-done js-task-done">✓</button>
                            <span class="tasks__task-text"
                                  data-task-text="{{ task.text }}">
                                {{ task.text }}</span>
                            <button class="button button-edit js-task-edit">✎</button>
                            <button class="button button-tasks-remove js-task-remove"> 🞫</button>
                        </li>
                    {% endfor %}
                </ol>

            </div>

        {% endfor %}

    </div>
{% endblock %}